.parallax {
  position: relative;
  overflow: hidden;

  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}

.scroller {
  /* display: flex; */
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

  display: inline-flex;
  /* white-space: nowrap; */
  will-change: transform;
  align-items: center;
  height: 100%;
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.custom-scroll-text {
  color: white;
  margin-right: 4vw;
}

.custom-scroll-text-skills {
  color: white;
  margin-right: 8vw;
}